################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/BlogOrganizer
/BlogOrganizer/bin/Debug/net5.0-windows
/BlogOrganizer/obj
/MVVMCore/bin/Debug/net5.0-windows
/MVVMCore/obj/Debug/net5.0-windows
/MVVMCore/obj
/BlogOrganizer/bin/Release/net5.0-windows
/MVVMCore/bin/Release/net5.0-windows
